:root {
    --cloud:#F4F4FD;
    --white:#ffffff;
    --navyblue:#2E2F42;
    --iris: #4D5AE5;
    --ocean:#404BBF;
    --cornflower:#E7E9FC;
    --slate: #434455;
    --lightslate:#8E8F99;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-white);
    color: var(--navyblue);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}
/* default */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*---*/

.active-link{
    color: var(--ocean);
}
.menu-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.link:hover, .link:focus {
    color: var(--iris);
}
.link:active {
    color: var(--ocean);
}
.contact-links .link {
    color: var(--navyblue);
}
.contact-links .link:focus, .link:hover {
    color: var(--iris);
}
.contact-links .link:active {
    color: var(--ocean);
}

.logo-web, .logo-studio{
    color: var(--iris);
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-studio{
    color: var(--navyblue);
}
.logo-studio-white {
    color: var(--white);
}
.container {
    width: 1440px;
    padding: 0 156px;
    margin: 0 auto;
}
.container-contacts {
    display: flex;
    gap: 40px;
 
}
.header{
    padding: 25px 0;
    border-bottom: 1px solid var(--cornflower);
}
.header-container{
    display: flex;
    justify-content: space-between;
}
.menu {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    margin-left: 76px;
}

.what-we-do_item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 300px;
    border: 1px solid var(--cornflower);
    background: url(<path-to-image>), lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
}
.what-we-do {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.hero{
    background-color: var(--navyblue);
    background:  url(../images/people-office.jpg), var(--grey, rgba(46, 47, 66, 0.70));
    background-blend-mode: overlay;
    background-size: cover;
    padding: 188px 0;
}
.hero-container {
    text-align: center;
   
}
.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    text-align: center;
    margin-bottom: 50px;
    color: white;
}
.hero-container_button {
    text-align: center;
    padding-top: 48px;
}
.main-button {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    border: none;
    border-radius: 4px;
    background-color: var(--iris);
    color: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.button:hover{
    background-color: var(--ocean);
}
.section {
    padding: 120px 0;
}
.section-no-top-padding {
    padding-top: 0;
}
.benefits {
    gap: 22px;
    display: flex;
    align-items: center;
}
.benefits-svg {
    width: 64px;
    height: 64px;
   
    flex-shrink: 0;
}
.benefits-svg-box{
    width: 264px;
    height: 112px;
    padding: 24px 100px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--cloud);
}

.benefits-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 8px;
    letter-spacing: 0.4px;
}
.benefits-description{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.section_title{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 70px;
}
.team-background {
    background: var(--cloud);
}
.team {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.team-item {
    padding-bottom: 32px;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-name{
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.team-position{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 8px;
}
.team-social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.team-social-links_box {
    width: 40px;
    height: 40px;
    fill: var(--iris);
}
.team-social-links_box:hover, .team-social-links_box:focus {
    fill: var(--ocean);
    cursor: pointer;
}

.button-filter{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);
    color: var(--iris);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}
.button-filter:hover {
    background-color: var(--ocean);
    cursor: pointer;
    color: var(--white);
    border: 1px solid var(--ocean);
}
.button-filter-active {
    background: var(--ocean);
    color: var(--white);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    border: 1px solid var(--ocean);
    cursor: pointer;
}
.filter {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}
.portfolio {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.portfolio_item{
    display: flex;
    width: 360px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0px 0px 4px 4px;
}
.portfolio-text_wrapper{
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
    width: 100%;
}
.portfolio_title{
    color: var(--navyblue);
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.portfolio_description{
    color: var(--slate);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.customers{
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}
.customers-box{
    width: 168px;
    height: 88px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--lightslate);
}
.customers-box_svg{
    width: 168px;
        height: 88px;
        padding: 16px 32px;
        fill: var(--lightslate);
}
.customers-box_svg:hover, .customers-box_svg:focus {
    fill: var(--ocean);
    cursor: pointer;
}
.footer {
    background-color: var(--navyblue);
    padding: 100px 0;
    
}
.footer-container {
    display: flex;
    flex-direction: column;
}
.footer-item {
    margin-top: 17.5px;
    color: var(--cloud);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.footer-social-links_box {
    width: 208px;
    height: 80px; 
    margin-left: 120px;
    display: inline;
}
.footer-social-links {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
}
.footer-social-links_svg {
    width: 40px;
    height: 40px;
    fill: var(--iris);
}
.footer-social-links_text{
    color: var(--white, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.footer-social-links_svg:hover,
.footer-social-links_svg:focus {
    fill: var(--ocean);
    cursor: pointer;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}